.about {
  .details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 1rem;
    width: 50%;
    margin: 1rem auto;

    @include md {
      flex-wrap: wrap-reverse;
    }

    @include sm {
      width: 90%;
      padding: 1.5rem 0 1rem;
    }

    .details {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      h2 {
        text-align: left;
        font-size: 3rem;
        margin-bottom: 2rem;

        @include md {
          font-size: 2.5rem;
        }
        @include sm {
          font-size: 1.8rem;
        }
      }
      p {
        font-size: 1.2rem;
      }
    }

    .logo {
      margin-left: 1rem;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 300px;
      }

      @include md {
        margin-bottom: 2rem;
        margin-left: 0;
      }
    }
  }

  .extra-detail {
    width: 50%;
    margin: 0 auto 4rem;
    padding: 2rem 0;

    @include sm {
      width: 90%;
    }

    span {
      font-size: 1.2rem;
      color: $light-text;

      a {
        text-decoration: none;
        color: $light-text;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .associations {
    text-align: center;
    margin-bottom: 3rem;

    h1 {
      font-size: $font-xl;

      @include md {
        font-size: $font-xl-md;
      }

      @include sm {
        font-size: $font-xl-sm;
      }
    }

    .logos {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 100%;
        height: 250px;
      }
    }
  }
}
