@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.navbar {
  width: 60%;
  margin: 1rem auto 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar .navbar-logo {
  width: 10%;
  max-width: 90px;
}

.navbar .navbar-logo img {
  height: 3rem;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar .navbar-logo {
    width: 90px;
  }
}

@media (max-width: 576px) {
  .navbar .navbar-logo {
    display: none;
  }
}

.navbar .navbar-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .navbar .navbar-items-container {
    justify-content: flex-end;
  }
}

.navbar .navbar-items-container .navbar-items {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #25282c;
  border-radius: 5px;
  transition: 400ms;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.navbar .navbar-items-container .navbar-items:hover {
  box-shadow: 3px 3px 20px #c3c3c3;
  cursor: pointer;
}

@media (max-width: 576px) {
  .navbar .navbar-items-container .navbar-items {
    margin-bottom: 0.5rem;
  }
}

.navbar .navbar-items-container .navbar-items:nth-child(1) {
  margin-left: 0;
}

@media (max-width: 576px) {
  .navbar .navbar-items-container .navbar-items:nth-child(1) {
    margin-left: 0.5rem;
  }
}

.navbar .navbar-items-container .navbar-items:nth-last-child(1) {
  margin-right: 0;
}

@media (max-width: 576px) {
  .navbar .navbar-items-container .navbar-items:nth-last-child(1) {
    margin-right: 0.5rem;
  }
}

.navbar .navbar-items-container .navbar-items svg {
  color: #ffffff;
  background-color: inherit;
  margin-top: 5px;
}

.navbar .navbar-items-container .head-item {
  background-color: #308d46;
}

@media (max-width: 768px) {
  .navbar {
    width: 85%;
  }
}

@media (max-width: 576px) {
  .navbar {
    justify-content: flex-end;
    margin-right: 0;
  }
}

@media (max-width: 360px) {
  .navbar {
    width: 100%;
  }
}

.section {
  text-align: center;
  padding: 10rem 0 5rem;
}

@media (max-width: 1024px) {
  .section {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .section {
    width: 75%;
    text-align: left;
    padding: 4rem 0 2rem;
    margin: 2rem;
  }
}

.section h1 {
  font-size: 4rem;
  color: #25282c;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .section h1 {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .section h1 {
    font-size: 1.8rem;
  }
}

.section h1 span {
  color: #308d46;
}

.section h3 {
  color: #6b7280;
  margin-top: 1rem;
  font-weight: 400;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .section h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .section h3 {
    font-size: 1.17rem;
  }
}

.section button {
  padding: 0.5rem 1rem;
  background-color: #308d46;
  font-size: 1.2rem;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 5rem;
  transition: 400ms ease-in-out;
}

.section button:hover {
  cursor: pointer;
  box-shadow: 2px 3px 6px #308d46;
  text-shadow: 1px 1px 20px #ffffff;
}

@media (max-width: 576px) {
  .section button {
    margin-top: 3rem;
  }
}

.newsletter {
  background-color: #f3f4f6;
  text-align: center;
  padding: 4rem 0;
  margin: 5rem 0 1rem;
}

.newsletter h4 {
  color: #25282c;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .newsletter h4 {
    font-size: 1.2rem;
    width: 95%;
  }
}

.newsletter .form {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .newsletter .form {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }
}

.newsletter .form input {
  padding: 0.85rem 1rem;
  font-size: 18px;
  background-color: #25282c;
  color: #4678a6;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  transition: all 0.3s;
}

.newsletter .form input:focus {
  color: #ffffff;
}

@media (max-width: 576px) {
  .newsletter .form input {
    flex: 1;
    margin-right: 0;
  }
}

.newsletter .form button {
  background-color: #308d46;
  padding: 0.85rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
}

@media (max-width: 576px) {
  .newsletter .form button {
    flex: 1;
    margin-top: 0.5rem;
  }
}

.about .details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 1rem;
  width: 50%;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .about .details-container {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 576px) {
  .about .details-container {
    width: 90%;
    padding: 1.5rem 0 1rem;
  }
}

.about .details-container .details {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.about .details-container .details h2 {
  text-align: left;
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .about .details-container .details h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .about .details-container .details h2 {
    font-size: 1.8rem;
  }
}

.about .details-container .details p {
  font-size: 1.2rem;
}

.about .details-container .logo {
  margin-left: 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .details-container .logo img {
  height: 300px;
}

@media (max-width: 768px) {
  .about .details-container .logo {
    margin-bottom: 2rem;
    margin-left: 0;
  }
}

.about .extra-detail {
  width: 50%;
  margin: 0 auto 4rem;
  padding: 2rem 0;
}

@media (max-width: 576px) {
  .about .extra-detail {
    width: 90%;
  }
}

.about .extra-detail span {
  font-size: 1.2rem;
  color: #6b7280;
}

.about .extra-detail span a {
  text-decoration: none;
  color: #6b7280;
}

.about .extra-detail span a:hover {
  text-decoration: underline;
}

.about .associations {
  text-align: center;
  margin-bottom: 3rem;
}

.about .associations h1 {
  font-size: 4rem;
}

@media (max-width: 768px) {
  .about .associations h1 {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .about .associations h1 {
    font-size: 1.8rem;
  }
}

.about .associations .logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about .associations .logos img {
  width: 100%;
  height: 250px;
}

.teams {
  margin: auto;
  text-align: center;
}

.teams-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
  margin-top: 1rem;
  padding: 5rem 9rem 8rem;
  color: #25282c;
}

@media (max-width: 768px) {
  .teams-card-container {
    padding: 5rem;
  }
}

@media (max-width: 576px) {
  .teams-card-container {
    padding: 5rem 2rem;
  }
}

.teams-card-container .team__card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teams-card-container .team__card-img {
  width: 100%;
  border-radius: 5px;
  position: relative;
}

.teams-card-container .team__card-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media (max-width: 1024px) {
  .teams-card-container .team__card-img img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .teams-card-container .team__card-img img {
    height: 350px;
  }
}

@media (max-width: 576px) {
  .teams-card-container .team__card-img img {
    height: auto;
  }
}

.teams-card-container .team__card-socials {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 5px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  opacity: 0;
  transform: translateY(50%);
  transition: all 0.3s;
}

.teams-card-container .team__card-socials a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}

.teams-card-container .team__card-socials a:hover {
  background: rgba(0, 0, 0, 0.7);
}

.teams-card-container .team__card:hover .team__card-socials {
  transform: translateY(0%);
  opacity: 1;
}

.teams-card-container .team__card-content {
  padding: 1rem 5px;
  display: grid;
  gap: 0.5rem;
}

.teams-card-container .team__card-content h2 {
  font-size: 2rem;
}

.teams-card-container .team__card-content a {
  text-decoration: none;
  font-style: italic;
  color: #25282c;
  position: relative;
  font-size: 0.9rem;
}

.teams-card-container .team__card-content a .bottom-line {
  width: 0%;
  height: 1px;
  background-color: #25282c;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.teams-card-container .team__card-content a:hover .bottom-line {
  width: 100%;
}

.footer {
  background-color: #25282c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 2rem;
  text-align: center;
  flex-direction: column;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 1rem 0 3rem;
}

@media (max-width: 768px) {
  .footer .container {
    margin: 1rem 1rem 3rem;
  }
}

@media (max-width: 576px) {
  .footer .container {
    flex-direction: column;
    margin: 1rem 1rem 3rem;
  }
}

.footer .container .form {
  flex: 1;
}

.footer .container .form form {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 3px solid #6b7280;
  padding: 1rem 0;
}

@media (max-width: 576px) {
  .footer .container .form form {
    border-right: none;
    border-bottom: 3px solid #6b7280;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
  }
}

.footer .container .form form input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 70%;
}

@media (max-width: 576px) {
  .footer .container .form form input {
    width: 100%;
    font-size: 1rem;
  }
}

.footer .container .form form textarea {
  width: 90%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  letter-spacing: 0px;
  border-radius: 5px;
  height: 6rem;
  border: none;
  outline: none;
}

@media (max-width: 576px) {
  .footer .container .form form textarea {
    width: 100%;
    font-size: 1rem;
  }
}

.footer .container .form form button {
  padding: 0.5rem 1rem;
  margin-top: 1.4rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #308d46;
  border: none;
  outline: none;
  width: 30%;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .footer .container .form form button {
    width: 100%;
    font-size: 1rem;
  }
}

.footer .container .social {
  text-align: left;
  flex: 1;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

@media (max-width: 576px) {
  .footer .container .social {
    margin-left: 0;
  }
}

.footer .container .social h1 {
  color: #ffffff;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .footer .container .social h1 {
    font-size: 1.8rem;
  }
}

.footer .container .social h3 {
  color: #6b7280;
  align-items: center;
  display: flex;
}

.footer .container .social h3 svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.footer .container .social h3 a {
  color: #6b7280;
  text-decoration: none;
}

.footer .container .social h3 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer .container .social .social-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .footer .container .social .social-btns {
    margin-top: 1.5rem;
  }
}

@media (max-width: 576px) {
  .footer .container .social .social-btns {
    margin-top: 1.5rem;
    flex-direction: row;
  }
}

.footer .container .social .social-btns .social-button {
  background-color: #f9fafb;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  transition: 400ms;
}

.footer .container .social .social-btns .social-button:nth-child(1) {
  margin-left: 0;
}

@media (max-width: 768px) {
  .footer .container .social .social-btns .social-button:nth-last-child(1) {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 576px) {
  .footer .container .social .social-btns .social-button:nth-last-child(1) {
    margin-top: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 360px) {
  .footer .container .social .social-btns .social-button:nth-last-child(2) {
    margin-left: 0;
  }
}

.footer .container .social .social-btns .social-button:hover {
  box-shadow: 2px 2px 5px #f9fafb;
  cursor: pointer;
}

.footer .container .social .social-btns .social-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #25282c;
  text-decoration: none;
}

.footer .container .social .social-btns .social-button a p {
  margin-left: 0.5rem;
}

.footer .footnote {
  color: #6b7280;
  font-size: 1.6rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}

@media (max-width: 576px) {
  .footer .footnote {
    font-size: 1rem;
  }
}

.footer .footnote svg {
  color: #308d46;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #f9fafb;
}

body .fade-enter,
body .fade-exit,
body .fade-appear {
  transition: all 400ms ease-in-out;
}

body .fade-enter,
body .fade-appear {
  opacity: 0;
}

body .fade-enter-active,
body .fade-appear-active {
  opacity: 1;
}

body .fade-exit {
  opacity: 1;
}

body .fade-exit-active {
  opacity: 0;
}

button {
  cursor: pointer;
}
